* {
  color: #222222;
  margin: 10px;
}

header div {
  display: flex;
  align-items: center;
  gap: 10px;
}

header p {
  font-size: 1.5em;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game h2 {
  font-size: 3em;
}

.game video {
  max-width: 75%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.game-instructions {
  display: flex;
  align-items: center;
  background-color: gray;
}

.game .emojis img {
  height: auto;
  max-width: 100%;
}

.game .game-banner img {
  aspect-ratio: 1/2;
  display: block;
}

.game .game-instructions img {
  height: auto;
  max-width: 100%;
}

.word-bird-icon {
  width: 50px;
  height: 50px;
}

.game p {
  font-size: 1.5em;
}

.game span {
  font-size: 1.5em;
  transition: font-size 0.5s ease;
}

.game span:hover {
  font-size: 1.75em;
}

.teaching-materials {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.teaching-materials video {
  max-width: 75%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.teaching-materials h2 {
  font-size: 3em;
}

.teaching-material-instructions p {
  font-size: 1.5em;
}

.teaching-material-instructions span {
  font-size: 1.5em;
  transition: font-size 0.5s ease;
}

.teaching-material-instructions span:hover {
  font-size: 1.75em;
}

footer {
  font-size: 1.5em;
}

section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.emojis {
  display: flex;
  flex-wrap: wrap;
}
